.footer{
    background-color: #000000;
}
.successes{
    color: red;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
}