<header class="header header__main">
    <div class="block-container">
      <nav class="header__nav">
        <ul class="header__menu">
          <li>
            <a href="./index.html" class="header__menu-text active">Home</a>
          </li>
          <li>
            <a href="#" class="header__menu-text">About us</a>
          </li>
          <li>
            <a href="#" class="header__menu-text">Contact</a>
          </li>
          <li>
            <a href="#" class="header__menu-text">Portfolio</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>