<section >
    <div class="foto-carousel">

        <h1 class=" title mt-12 mb-8 px-6 text-center text-lg md:text-2xl font-semibold">
           Best team ever
          </h1>
          
          <div id="newsCarousel" class="carousel mb-12 py-10 bg-gray-200">
            <div class="carousel__viewport pb-8">
                
              <a
                href="javascript:;"
                class="carousel__slide px-0 py-0 mx-2.5 w-1/3 bg-white rounded-b"
              >
                <figure >
                  <picture class="overflow-hidden rounded-t" >
                    <img
                      class="w-full"
                      src="./images/img-1.jpg" 
                    />
                  </picture>
                  <figcaption class="p-6">
                    <p class="text-sm text-gray-500">
                        Блізнюкова Тетяна tatbliz30@gmail.com +380508495505 Львів, 21.12.83

                    </p>
                  </figcaption>
                </figure>
              </a>
              <a
                href="javascript:;"
                class="carousel__slide px-0 py-0 mx-2.5 w-1/3 bg-white rounded-b"
              >
                <figure>
                  <picture class="overflow-hidden rounded-t">
                    <img
                      class="w-full"
                      src="./images/img-2.jpg"
                    />
                  </picture>
                  <figcaption class="p-6">
                   
                    <p class="text-sm text-gray-500">
                        Давидов Петро Олександрович / 11.06.79
                        petrodavydov@gmail.com - тільки по роботі і проектам
                        0503625248
                        0675173482
                        Дніпро
                    </p>
                  </figcaption>
                </figure>
              </a>
          
              <a
                href="javascript:;"
                class="carousel__slide px-0 py-0 mx-2.5 w-1/3 bg-white rounded-b"
              >
                <figure>
                  <picture class="overflow-hidden rounded-t">
                    <img
                      class="w-full"
                      src="./images/img-3.jpg"
                    />
                  </picture>
                  <figcaption class="p-6">
                    <p class="text-sm text-gray-500">
                        Vynnytska1989@gmail.com тел.0977499113 Прийом Марта
                    </p>
                  </figcaption>
                </figure>
              </a>
          
              <a
                href="javascript:;"
                class="carousel__slide px-0 py-0 mx-2.5 w-1/3 bg-white rounded-b"
              >
                <figure>
                  <picture class="overflow-hidden rounded-t">
                    <img
                      class="w-full"
                      src="./images/img-4.jpg"
                    />
                  </picture>
                  <figcaption class="p-6">
                    <p class="text-sm text-gray-500">
                        Петришин Оксана
                        petryshyn.v.oksana@gmail.com
                        0674197820 (Львів)
                        07.03.1983
                    </p>
                  </figcaption>
                </figure>
              </a>
              <a
              href="javascript:;"
              class="carousel__slide px-0 py-0 mx-2.5 w-1/3 bg-white rounded-b"
            >
              <figure>
                <picture class="overflow-hidden rounded-t">
                  <img
                    class="w-full"
                    src="./images/img-5.jpg"
                  />
                </picture>
                <figcaption class="p-6">
                  <p class="text-sm text-gray-500">
                    Гребенюк Микола yanukhous1710@gmail.com +380636870793 м. Черкаси. 17.10.85
                  </p>
                </figcaption>
              </figure>
            </a>
            <a
            href="javascript:;"
            class="carousel__slide px-0 py-0 mx-2.5 w-1/3 bg-white rounded-b"
          >
            <figure>
              <picture class="overflow-hidden rounded-t">
                <img
                  class="w-full"
                  src="./images/img-6.jpg"
                />
              </picture>
              <figcaption class="p-6">
                <p class="text-sm text-gray-500">
                    Меличин Марія
                    0962153975
                    lv080191mmi75@gmail.com 
                    Львівська область м.Самбір
                    08.01.1991року
                </p>
              </figcaption>
            </figure>
          </a>
          <a
          href="javascript:;"
          class="carousel__slide px-0 py-0 mx-2.5 w-1/3 bg-white rounded-b"
        >
          <figure>
            <picture class="overflow-hidden rounded-t">
              <img
                class="w-full"
                src="./images/img-7.jpg"
              />
            </picture>
            <figcaption class="p-6">
              <p class="text-sm text-gray-500">
                baje75128@gmail.com  тел.0992353324 Байда Евгения (Бердянск) .27.12.1985
              </p>
            </figcaption>
          </figure>
        </a>
        <a
        href="javascript:;"
        class="carousel__slide px-0 py-0 mx-2.5 w-1/3 bg-white rounded-b"
      >
        <figure>
          <picture class="overflow-hidden rounded-t">
            <img
              class="w-full"
              src="./images/img-8.jpg"
            />
          </picture>
          <figcaption class="p-6">
            <p class="text-sm text-gray-500">
                annakovalenko168@gmail.com  тел. +30639901375 (м.Одеса) 14.07.85
            </p>
          </figcaption>
        </figure>
      </a>
              <a
                href="javascript:;"
                class="carousel__slide px-0 py-0 mx-2.5 w-1/3 bg-white rounded-b"
              >
                <figure>
                  <picture class="overflow-hidden rounded-t">
                    <img
                      class="w-full"
                      src="./images/img-9.jpg"
                    />
                  </picture>
                  <figcaption class="p-6">
                    <p class="text-sm text-gray-500">
                        Ющенко Евгения г.Одесса Kelenella@ukr.net 0675815297, 18/09/1986
                    </p>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
    </div>
</section>