<section class="section">
    <h2 class="title-h2">God bless us!</h2>
    <p class="paragraph">We are the champions, my friends</p>
    <p class="paragraph">And we'll keep on fighting till the end</p>                    
    <p class="paragraph">We are the champions</p>
    <p class="paragraph">We are the champions</p>
    <p class="paragraph">No time for losers</p>
    <p class="paragraph">'Cause we are the champions of the World</p>
    <a class="link" href="https://www.youtube.com/watch?v=KXw8CRapg7k" target="_blank" rel="noopener noreferrer"><span class="span">Follow me &#8594;</span>(Many thanks to Freddie)</a>
</section>